body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 font-size: 30px ;
  
}
h1{
  margin-top: 100px;
  color:  rgb(28, 36, 120);

}
ul{
  list-style: none;
 

}
.enter{ 
  transform: scale(2);
  margin: 15px;
  padding: 10px;
  
}
span{
  width: 200px;

  white-space: nowrap;
  
  display: inline-block;

  padding: 5px;

 
}
li{
  
  border: 2px solid rgb(28, 36, 120);
  border-radius: 30px;
  margin: 10px;
  max-height: 120px;
 
}
button{
  background-color: salmon;
  border: 1px solid rgb(28, 36, 120);
  width: 150px;
  height: 80px;
  border-radius: 20px;
 font-size: 24px;
  color: white;
  margin:10px;

}


a{
  width: 100px;
  height: 40px;
  padding: 20px;
  background-color:white;
  border-radius: 20px;
  margin: 20px;
  text-decoration: none;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  

}
.edit{
  background-color: rgb(228, 191, 88);
}
.delete{
  background-color: rgb(196, 51, 34);
  /* background-color: green; */
}
.check{
  background-color: rgb(74, 220, 135); 
  /* background-color: rgb(127, 9, 119);  */
}
.add{
  width: 400px;
  height: 40px;
  border: 1px solid salmon;
  border-radius: 20px;
}

.editInput{
  width: 400px;
  height: 40px;
  border: 1px solid salmon;
  border-radius: 20px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  
}
input{
  padding: 10px;
}

@media (max-width: 375px) {
  body{
    font-size: 14px;
    
  }
  .editInput{
    width: 200px;

  }
  a{
    width: 50px;
    font-size: 14px;
    padding: 2px;
    margin: 2px;
    height: 20px;
  }
  li{
    margin: 4px;
    border: none;
  }
  .add{
    width: 150px;
    height: 20px;
  }
  button{
    width: 100px;
    font-size: 14px;
    height: 40px;
    padding: 2px;
  }
  span{
    width: 100px;
  }
  .enter{
    margin: 0;
    transform: scale(1);
  }
}